<div class="container">
    <h1>Hi my name is Edgars</h1>
    <p>You can contact me through one of the following ways:</p>
    <ul>
        <li>Email: </li>
        <li>Linkedin: </li>
        <li>Facebook: </li>
    </ul>
</div>