<div class="container">

    <h5>Stretch idea - Add all the relevant info to JSON file and pass that data in here and create a project partial that uses that
        data and displays it in this view</h5>

    <h1>Project name</h1>
    <p>Project description</p>
    <p>What I learned</p>
    <p>Check my <a href="https://edgars-avenins.github.io/minesweeper">Minesweeper</a> here</p>
</div>